Flask
Gunicorn
absl-py==1.4.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
clyent==1.2.1
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.5.1
datashape==0.5.2
Deprecated==1.2.13
dimod==0.10.17
diskcache==5.4.0
distlib==0.3.4
docopt==0.6.2
et-xmlfile==1.1.0
fasteners==0.17.3
flatbuffers==23.3.3
fonttools==4.25.0
future==0.18.3
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
homebase==1.0.1
inflection==0.5.1
jax==0.3.25
keras==2.11.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
libclang==15.0.6.1
llvmlite==0.38.0
mccabe==0.6.1
minorminer==0.2.8.post1
mkl-service==2.4.0
ml-dtypes==0.2.0
mock==5.0.2
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
numpy==1.21.6
oauthlib==3.2.2
opt-einsum==3.3.0
pandas==1.3.5
pathspec==0.7.0
patsy==0.5.2
penaltymodel==1.0.2
pep8==1.7.1
Pillow==9.0.1
platformdirs==2.5.2
plucky==0.4.3
protobuf==3.20.1
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.9.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyparsing==2.4.7
pyqubo==1.2.0
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
queuelib==1.5.0
rectangle-packer==2.0.1
requests-oauthlib==1.3.1
scikit-learn-intelex==2021.5.1
sip==5.1.0
tabulate==0.8.9
TBB==2021.5.1
tensorboard==2.11.2
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
thingspeak==1.0.0
virtualenv==20.14.1
webencodings==0.5.1
zict==2.0.0